<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.goodee.library.bookMapper">
	<insert id="createBook" parameterType="com.goodee.library.book.dto.BookDto">
		INSERT INTO tbl_book (b_thumbnail, b_name, b_writer, b_reg_date)
			VALUES(#{b_thumbnail}, #{b_name}, #{b_writer}, NOW())
	</insert>
	
	<select id="selectBookCount" resultType="int">
		SELECT COUNT(*) FROM tbl_book
		<where>
			<if test="b_name != null and b_name.equals('') == false">
				b_name LIKE CONCAT('%',#{b_name},'%')
			</if>
		</where>
	</select>
	
	<select id="selectBookList" parameterType="com.goodee.library.book.dto.BookDto" resultType="com.goodee.library.book.dto.BookDto">
		SELECT * FROM tbl_book
		<where>
			<if test="b_name != null and b_name.equals('') == false">
				b_name LIKE CONCAT('%',#{b_name},'%')
			</if>
		</where>
			ORDER BY b_reg_date DESC
				LIMIT #{limit_pageNo}, #{numPerPage}
	</select>
	
	<select id="selectBookListToday" resultType="com.goodee.library.book.dto.BookDto">
		SELECT * FROM tbl_book
		<where>
			DATE_FORMAT(b_reg_date, '%Y-%m-%d') = CURDATE()
		</where>
	</select>
</mapper>
