<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
<!-- TRACE < DEBUG < INFO < WARN < ERROR < FATAL -->
	<Properties>
	    <Property name="logNm">Library Log4j2</Property>
	    <Property name="layoutPattern">
	    %d{HH:mm:ss.SSS} %-5level %pid --- [%C] %m%n
	    </Property>
	</Properties>
	<Appenders>
	    <Console name="Console_Appender" target="SYSTEM_OUT">
	        <PatternLayout pattern="${layoutPattern}"/>
	    </Console>
	    <RollingFile name="File_Appender" fileName="logs/${logNm}.log" filePattern="logs/${logNm}_%d{yyyy-MM-dd}_%i.log.gz">
	        <PatternLayout pattern="${layoutPattern}"/>
	        <Policies>
	            <SizeBasedTriggeringPolicy size="1000KB"/>
	            <TimeBasedTriggeringPolicy interval="1"/>
	        </Policies>
	        <DefaultRolloverStrategy max="10" fileIndex="min"/>
	    </RollingFile>
	</Appenders>
	<Loggers>
	    <Root level="INFO" additivity="false">
	        <AppenderRef ref="Console_Appender"/>
	        <AppenderRef ref="File_Appender"/>
	    </Root>
	    <Logger name="org.springframework" level="OFF" additivity="false">
	        <AppenderRef ref="Console_Appender" />
	        <AppenderRef ref="File_Appender"/>
	    </Logger>
	    <Logger name="com.goodee.library" level="INFO" additivity="false">
	        <AppenderRef ref="Console_Appender" />
	    </Logger>
	</Loggers>
</Configuration>